
/* background img */
.name-page{
  font-size: 20px;
  color: white;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background img{
  filter: brightness(70%);
}
@media only screen and (min-width: 576px){
  .name-page{
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px){
  .name-page{
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px){
  .name-page{
    font-size: 35px;
  }
}

/* end */

.title-blog{
  font-size: 20px;
  font-weight: 1000;
}
.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  background-color: #976f55;
  font-weight: 600;
  height: 30px;
  color: white;
}
.tag:hover{
  background-color: #efc4a3;
  transition: all 0.8s;
}
.cmt, .time-post{
  font-size: 16px;
}
.page button{
  padding: 12px 22px;
  border-radius: 50%;
  border: none;
  background-color: #70807e42;
}
@media screen and (min-width: 768px){
.title-blog{
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 20px;
}
}