
/* background img */
.name-page{
  font-size: 20px;
  color: white;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background img{
  filter: brightness(70%);
}
@media only screen and (min-width: 576px){
  .name-page{
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px){
  .name-page{
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px){
  .name-page{
    font-size: 35px;
  }
}

/* end */
.table{
  overflow-x: auto;
}
.table-custom {
  width: 1200px;
  margin: 0 auto;
}
thead tr th {
  font-size: 20px;
  border-top: 2px solid black;
  text-align: center;
}

tbody tr td {
  font-size: 20px;
  height: 70px;
}

i:hover{
  color: red;
}
button{
  background-color: white;
  border: none;
}
a{
  color: black;
}
.input-coupon input {
  width: 300px;
  height: 70px;
  font-size: 20px;
  margin: 20px;
}

.apply-coupon button {
  width: 220px;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #50ba87;
  color: white;
  margin: 20px;
}
.btn i{
  font-size: 24px;
}

.checkout  button{
  width: 220px;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: rgba(255, 0, 0, 0.671);
  color: white;
  margin: 20px;
}
.apply-coupon button:hover,
.checkout  button:hover{
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: 1s;
}
.total-all{
  font-size: 25px;
  margin: 20px;
}

.enter-number input{
  width: 40px;
  text-align: center;
}
.enter-number{
  gap: 3px;
}
.minus,.plus{
  background-color: rgba(128, 128, 128, 0.075);
  padding: 7px;
}
