
/* background img */
.name-page{
  font-size: 20px;
  color: white;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background img{
  filter: brightness(70%);
}
@media only screen and (min-width: 576px){
  .name-page{
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px){
  .name-page{
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px){
  .name-page{
    font-size: 35px;
  }
}

/* end */

.deli-addr{
    font-size: 28px;
    font-weight: bold;
}

.two, .two2{
    gap: 20px;
}

.first-name input, .last-name input, .postcode input, .city input, .email input, .phone input,
.company input, .address input{
  height: 50px;
  font-size: 24px;
}
input{
  border: none;
  background-color: rgba(128, 128, 128, 0.082);
  width: 100%;
}
.table{
  overflow-x: auto;
}
.table-custom {
  width: 1200px;
  margin: 0 auto;  
}
thead tr th {
  font-size: 20px;
  border-top: 2px solid black;
  text-align: center;
}

tbody tr td {
  font-size: 20px;
  height: 70px;
}
a{
  color: black;
}

.pay-method{
    font-size: 24px;
}
.pay-method input{
    width: 30px;
}
.cart-total{
    font-size: 24px;
}

.payment-methods, .cart-total{
  border: 1px solid black;
  padding: 15px;
}
.type-payment {
  gap: 25px;
}

.proceed-to-check button{
    background: #50ba87;
    border: none;
    color: white;
    width: 250px;
    font-size: 16px;
    height: 70px;
}
.proceed-to-check button:hover{
  background: white;
  border: 3px solid black;
  color: black;
  transition: all 1s;
}
.payment{
  gap: 15px;
}
label{
  font-size: 20px;
}

input[type=radio] {
    height: 15px;
}
.enter-number{
  gap: 3px;
}
.minus,.plus{
  background-color: rgba(128, 128, 128, 0.075);
}
i:hover{
  color: red;
}
button{
  background-color: white;
  border: none;
}

@media screen and (min-width: 768px){
  .first-name,.last-name, .postcode, .city, .email, .phone{
  width: 47%;
}
}
@media screen and (min-width: 992px){
  .payment-methods, .cart-total{
  width: 45%;
}
}