
/* background img */
.name-page{
  font-size: 20px;
  color: white;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background img{
  filter: brightness(70%);
}
@media only screen and (min-width: 576px){
  .name-page{
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px){
  .name-page{
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px){
  .name-page{
    font-size: 35px;
  }
}

/* end */

.pro-thumnail {
  gap: 8px;
}
.pic-pro{
  background-color: rgba(128, 128, 128, 0.336);
}
.mini-pro {
  width: 32%;
  background-color: rgba(128, 128, 128, 0.336);
}

.name-pro {
  font-size: 18px;
}

.rate {
  font-size: 28px;
  color: yellow;
}

.value {
  color: grey;
}

.descrip {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.more-infor {
  font-size: 22px;
}

.stepper input {
  width: 100px;
  height: 45px;
  font-size: 30px;
}

.add {
  border: none;
  width: 180px;
  height: 60px;
  font-size: 18px;
  color: white;
  background: #50ba87;
}

.share {
  font-size: 24px;
}

.share-icon {
  margin-top: -15px;
  font-size: 30px;
  margin: 5px;
}

.tabs {
  display: flex;
  position: relative;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #50ba87;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 12px;
  text-align: center;
  color: #50ba87;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}
.avt{
  width: 100%;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
  width: 100%;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane p{
  font-size: 16px;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.user-name{
  font-size: 22px;
}
.rel-pro img{
  background: #15151511;
}
.cmt{
  font-size: 16px;
}

.input-name input, .input-email input{
  width: 100%;
  height: 60px;
  font-size: 20px;
}
.input-name, .input-email{
  width: 100%;
}

.message textarea{
  width: 100%;
  font-size: 20px;
  height: 200px;
}

.rel{
  font-size: 30px;
  font-family: "teko";
}
.leave-cmt{
  font-size: 24px;
}

.price{
    font-size: 16px;
    color: #50ba87;
}
.enter-number input{
  width: 40px;
  text-align: center;
}
.enter-number{
  gap: 3px;
}
.minus,.plus{
  background-color: rgba(128, 128, 128, 0.075);
  padding: 7px;
}
@media screen and (min-width: 576px){
  .rel-pro{
    width: 100%;
  }
}
@media screen and (min-width: 768px){
  .mini-pro {
  width: 100%;
}
.name-pro{
  text-align: left;
}
}
@media screen and (min-width: 992px){
  .mini-pro {
  width: 32%;
}
.pro-thumnail{
  width: 150%;
}
.avt{
  width: 40%;
}
}