

/* background img */
.name-page {
  font-size: 20px;
  color: white;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background img {
  filter: brightness(70%);
}
@media only screen and (min-width: 576px) {
  .name-page {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .name-page {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .name-page {
    font-size: 35px;
  }
}

/* end */

.product {
  width: 100%;
}
.product img {
  background-color: rgba(128, 128, 128, 0.062);
}

.btn-add-to-cart{
  top: 40%;
  left: 20%;
}
.btn-add-to-cart button{
  padding: 10px 24px;
  background-color: #50ba87;
  color: white;
  border: none;
  display: none;
}
.pro-mini:hover .pro-mini-name{
  color: red;
}
.pro-mini:hover img{
 background-color: rgba(128, 128, 128, 0.493);
 transition: 0.5s;
}
.product:hover .btn-add-to-cart button{
  display: block;
  transform: translate3d(0, 80px, 0);
  transition: 1s;
  animation: btnfadedown 0.8s ease-in-out;
}
.btn-add-to-cart button:hover {
  background-color: red;
  transition: 1s;
}

@keyframes btnfadedown{
  from{
    opacity: 0;
    transform: translateY(0%);
  }
  to{
    opacity: 1;
  }
}

.search-pro input {
  position: relative;
  width: 250px;
  height: 45px;
  border-radius: 7px;
}

#sort-by {
  width: 250px;
  height: 45px;
  font-size: 20px;
  border-radius: 7px;
}

.search-pro-icon {
  position: absolute;
  left: 230px;
  top: 5px;
  font-size: 20px;
}

.title {
  font-size: 25px;
}

.filter input {
  width: 100px;
}

.page button {
  margin-top: 50px;
  width: 30px;
  border-radius: 50%;
  border: 0;
}

.filter-btn {
  width: 120px;
  border: none;
  background-color: #50ba87;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

.check input {
  height: 20px;
  width: 20px;
}

.check {
  font-size: 20px;
}

.line1 {
  width: 250px;
  margin-left: 0 auto;
  height: 1px;
  background-color: gray;
}

.pro-mini-name {
  font-size: 18px;
}

.pro-mini-pri {
  color: #50ba87;
}
.pro-mini img {
  background-color: rgba(128, 128, 128, 0.062);
}

.name-pro a {
  font-size: 16px;
  text-align: center;
}

.name-pro:hover a {
  color: red;
}

.price {
  font-size: 16px;
  color: #50ba87;
}
/* responsive */
@media screen and (min-width: 576px) {
  .product {
    width: 45%;
  }
  .search-pro-icon {
    left: 230px;
  }
}
@media screen and (min-width: 768px) {
  .product {
    width: 31%;
  }
  .search-pro-icon {
    left: 230px;
  }
}
@media screen and (min-width: 992px) {
  .filter-pro {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .name-pro a {
    font-size: 16px;
  }
}
/* end */
.all-list {
  width: 100%;
}
