@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Teko:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700");

* {
  font-family: "Poppins";
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
/* menu */
.wrapper {
  background: white;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo a {
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-icon i {
  font-size: 28px;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: #53d391;
  text-decoration: none;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: white;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: black;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: white;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"] {
  display: none;
}
.logo img {
  width: 50px;
}
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }
}
/* end menu */

/* modal */

:root {
  --color-facebook: #3b5998;
  --color-google: #ea4335;
  --color-twitter: #1da1f2;

  --style-1-color: #009688;
  --style-2-color: #009688;
  --style-3-color: #009688;
}
.modal-style-2 .modal-login {
  width: 350px;
}

.modal-style-2 .modal-login a {
  text-decoration: none !important;
}

.modal-style-2 .modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-style-2 .modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-style-2 .modal-login .close {
  position: absolute;
  top: -10px;
  right: -10px;
}
.modal-style-2 .close:focus,
.modal-style-2 .close:active {
  outline: none !important;
  box-shadow: none;
}
.modal-style-2 .modal-login h4 {
  color: var(--style-2-color);
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  border-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: bold;
}

.modal-style-2 .modal-login .modal-content {
  color: #999;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.modal-style-2 .modal-login .form-group {
  margin-bottom: 20px;
}

.modal-style-2 .modal-login label {
  font-weight: normal;
  font-size: 13px;
}

.modal-style-2 .modal-login .modal-body {
  padding: 0;
}

.modal-style-2 .modal-login .form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
  font-size: 13px;
}

.modal-style-2 .modal-login .form-control:focus {
  border-color: #ccc;
}

.modal-style-2 .modal-login .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
  border-radius: 0;
  margin-right: 10px;
  padding-top: 15px;
}

.modal-style-2 .modal-login .btn {
  font-size: 15px;
  font-weight: bold;
  background: var(--style-2-color);
  border-radius: 25px;
  border: none;
  min-width: 140px;
  padding: 10px;
  outline: none !important;
}

.modal-style-2 .modal-login .btn:hover,
.modal-style-2 .modal-login .btn:focus {
  background: var(--style-2-color);
}
.modal-style-2 input:-internal-autofill-selected {
  background-color: transparent !important;
}
.modal-style-2 .modal-login .hint-text {
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}

.modal-style-2 .modal-login .modal-footer {
  color: #999;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -25px -25px;
  font-size: 13px;
  justify-content: center;
}

.modal-style-2 .modal-login a {
  color: #fff;
  text-decoration: underline;
}

.modal-style-2 .modal-login a:hover {
  text-decoration: none;
}

.modal-style-2 .modal-login a {
  color: var(--style-2-color);
  text-decoration: none;
}

.modal-style-2 .modal-login a:hover {
  text-decoration: underline;
}

.modal-style-2 .modal-login .fa {
  font-size: 16px;
}

.dark.modal-style-2 .modal-content {
  background: #0b0b1f !important;
  color: #fff !important;
}
.dark.modal-style-2 .close,
.modal-style-2.dark .modal-login h4 {
  color: #fff !important;
}
.dark.modal-style-2 .modal-login .form-control {
  background: transparent !important;
  color: #fff;
  border-color: #777;
}
.dark.modal-style-2 .modal-login .input-group-addon {
  color: #9e9e9e;
}
.dark.modal-style-2 .modal-login .modal-footer {
  border: none;
}
.dark.modal-style-2 .modal-login .btn {
  background: #70807e;
}
.dark .text-danger {
  color: #777 !important;
}

@media only screen and (max-width: 360px) {
  .modal-style-2 .modal-login {
    width: 100%;
    margin: 5px;
  }
  .modal-style-2 .modal-login form {
    width: 100%;
  }
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}
.text-12 {
  font-size: 12px;
}

.button-card {
  margin: 0 auto;
  box-shadow: 1px 2px 5px 2px #d1d1d1;
  padding: 20px;
  border-radius: 5px;
}
.button-card img {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  max-height: 350px;
  position: relative;
}

.btn-theme {
  width: 100px;
  height: 35px;
  padding: 3px;
  border-radius: 26px;
}

@media only screen and (max-width: 1140px) {
  .main-container {
    width: 100%;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 480px) {
  .button-card img {
    width: 100%;
    height: auto;
  }
}

/* end modal */

/* button */
.btn1 a {
  z-index: 1;
  background-color: transparent;
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding: 15px 34px;
  color: white;
  text-decoration: none;
  border: solid 5px #53d391;
  box-shadow: 12px 12px 0 -5px #53d391;
  transition: 0.3s;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn1 a:before {
  display: inline-block;
  transition: bottom, 0.35s;
  position: absolute;
  transform: skew(-50deg);
  top: 0px;
  left: 260px;
  background-color: #53d391;
  content: "";
  width: 220px;
  height: 120px;
  z-index: -1;
}

.btn1 a:hover {
  box-shadow: 0px 0px 0 0px #53d391;
}

.btn1 a:hover:before {
  top: -40px;
  left: -40px;
}
.btn1 {
  text-align: center;
}
/* end button */

.header {
  background-color: white;
  display: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 1320px;
}
.logo img {
  width: 60px;
  height: 60px;
}

.slide .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 50px;
  height: 50px;
  color: black;
  border: none;
}

.slide .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 1;
  width: 50px;
  height: 50px;
  color: black;
  border: none;
}
.slide-1 img,
.slide-2 img,
.slide-3 img {
  filter: brightness(80%);
}
.infor-slide {
  top: 50%;
  width: 1200px;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.caption {
  text-align: center;
  font-size: 80px;
  color: white;
}
.cap-more {
  color: white;
  text-align: center;
}
.about-img,
.about1-2,
.about3 {
  margin-top: 50px;
}
.about-img {
  margin-left: 100px;
}

.about1,
.about2,
.about3 {
  border: 4px solid black;
}

.about1-2,
.about3 {
  width: 440px;
}

.about1,
.about2 {
  height: 50%;
}

.about1 span,
.about2 span,
.about3 span {
  font-size: 25px;
}

.about3 button {
  width: 220px;
  height: 70px;
  font-size: 20px;
  opacity: 0.5;
  color: white;
  background-color: black;
}

.about1 p,
.about2 p,
.about3 p {
  font-size: 20px;
}

.lasest-project h1 {
  margin-left: 100px;
}

.filter {
  margin-right: 110px;
}

.filter button {
  width: 200px;
  height: 50px;
  margin-left: 2px;
  border: 3px black solid;
}
.show-design {
  margin-left: 30px;
}

.left-side {
  width: max-content;
  padding: 10px;
  height: max-content;
  gap: 20px;
}

.right-side {
  width: max-content;
  padding: 10px;
  height: max-content;
  gap: 20px;
}

.heading {
  font-size: 48px;
  font-family: "Teko";
  text-align: center;
}

.name {
  font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 20px;
  font-size: 48px;
  line-height: 1.288888;
}

.number {
  padding-top: 200px;
  font-size: 60px;
  line-height: 0.6;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.awards,
.projects,
.members {
  background-color: gray;
  margin: 2px;
  width: 500px;
  height: 550px;
}

.slide2 {
  margin-left: 100px;
}

.name-designer {
  font-size: 25px;
  margin-top: 15px;
}

.positions {
  font-size: 17px;
}

.title {
  font-size: 22px;
}

.num1,
.num2,
.num3,
.num4 {
  height: 50%;
}

.left,
.right {
  width: 50%;
}

.succ {
  margin-left: 100px;
}

.list-client {
  margin-left: 40px;
  margin-right: 40px;
}

.latest-blog {
  margin-left: 100px;
  margin-right: 100px;
  gap: 70px;
}
.times {
  color: #b6af4a;
}
/* .attachment {
  position: absolute;
  width: 430px;
  height: 230px;
  padding-top: 30px;
  font-size: 25px;
  font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  top: 435px;
  left: 120px;
  background-color: white;
} */

/* footer */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
p,
a {
  font-size: 20px;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.site-footer,
.footer-links a {
  color: white;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
a {
  text-decoration: none;
}

.send {
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.37);
  width: 30px;
  color: white;
}

.leave-email {
  gap: 10px;
}

/* end footer */
.slide {
  height: 50%;
}
