* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

img {
  vertical-align: middle;
}

.row-nav {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: end;
}

.a-center {
  align-items: center;
}

.menu {
  list-style: none;
}

.menu-link {
  display: block;
  padding: 8px 20px;
  font-size: 25px;
}

ul li a {
  text-decoration: none;
}
ul li {
  margin-right: 7px;
}

.features {
  font-size: 25px;
}

.header {
  background-color: white;
  margin: 0 auto;
  width: 1320px;
}
img .logo {
  width: 60px;
  height: 60px;
}
.container{
  width: 100%;
}